// Fuentes
$font-base: 'Montserrat', sans-serif;

// Colores
$color-header-bg: black;
$color-header-text: white;
$color-info-bar-bg: black;
$color-info-item-text: white;
$color-card-bg: white;
$color-precio: #e63946;
$color-producto-bg: #fff;
$color-producto-btn: #7b3f61;
$color-producto-btn-hover: #5d2f49;
$color-footer-bg: #222;
$color-footer-text: #ffffff;
$color-footer-hover: #ff009d;
$color-form-bg: #fdfdfd;
$color-form-text: #333;
$color-form-label: #444;
$color-form-border-focus: #8e44ad;
$color-nosotros-text: #333;
$color-nosotros-h1: #8e44ad;

// Bordes y radios
$border-radius-small: 6px;
$border-radius-medium: 8px;
$border-radius-large: 12px;

// Padding y transición base
$padding-base: 10px;
$transition-base: 0.3s;